---
http_interactions:
- request:
    method: get
    uri: http://companycheck.co.uk/api/json/search?apiKey=dummy_api_key&name=Smarta
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"number":"08926456","name":"SMARTA CONSULTING LIMITED","status":"Active","sic":"N\/A","address":"MANSION
        HOUSE MANCHESTER ROAD, ALTRINCHAM, CHESHIRE, WA14 4RW","country":"GB"},{"number":"09182246","name":"SMARTA
        TRADING LTD","status":"Active","sic":"N\/A","address":"55 WATERLOO RISE, READING,
        BERKSHIRE, RG2 0LW","country":"GB"},{"number":"09318363","name":"SMARTA HOMES
        LIMITED","status":"Active","sic":"N\/A","address":"13A MARSTON MOOR BUSINESS
        PARK, TOCKWITH, YORK, YO26 7QF","country":"GB"},{"number":"09067975","name":"B-SMARTA
        LIMITED","status":"Active","sic":"N\/A","address":"102A BOLTON ROAD, DARWEN,
        LANCS, BB3[...]
- request:
    method: get
    uri: http://companycheck.co.uk/api/json/company?apiKey=dummy_api_key&id=08926456
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"SMARTA CONSULTING LIMITED","number":"08926456","sicCode":"","registeredAddress":"MANSION
        HOUSE MANCHESTER ROAD, ALTRINCHAM, CHESHIRE, WA14 4RW","postcode":"WA14 4RW"}'
  recorded_at: Wed, 04 Feb 2015 13:37:17 GMT
recorded_with: VCR 2.9.3
