---
http_interactions:
- request:
    method: get
    uri: http://companycheck.co.uk/api/json/directorSearch?apiKey=dummy_api_key&name=Clive%20Shirley
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"number":"906685048","name":"Mr Clive Shirley","registeredPostcodes":[{"postcode0":"GU12
        6NY"},{"postcode0":"GU34 4EU"},{"postcode0":"GU34 4LB"}]},{"number":"906436692","name":"Mr
        Clive Brian Shirley","registeredPostcodes":[{"postcode0":"CR2 0LN"}]},{"number":"911638707","name":"Mr
        Andrew Clive Shirley","registeredPostcodes":[{"postcode0":"PL19 8EF"}]},{"number":"916845204","name":"Mr
        Clive Shirley","registeredPostcodes":[]},{"number":"901418435","name":"Mr
        Shirley Clive Tiddy","registeredPostcodes":[]}]'
  recorded_at: Wed, 04 Feb 2015 13:25:12 GMT
recorded_with: VCR 2.9.3
